
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Erişmeye çalıştığınız sayfaya yetkiniz yoktur. Lütfen sistem yetkilisiyle iletişime geçiniz.</h1>
<h2>Erişmeye çalıştığınız sayfa : @ViewBag.url</h2>

